
.user-avatar {
    width: 204px;
    height: 204px;
    border: 2px dashed #0087F7;
    display: inline-block;
    position: relative;
    background-size: cover;
}

.user-avatar-input {
    top: -10px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
    cursor: pointer;
}

.user-avatar-btn-text {
    position: relative;
}

.user-avatar-btn.progress {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    position: absolute;
}
.progress .bar {
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #f60;
}




.user-avatar .user-avatar-btn{
    margin-top: 150px;
}

.user-avatar-preview {
    position: absolute;
}


.user-avatar-btn{
    cursor: pointer;
    *zoom: 1;
    *display: inline;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 150px;
    margin-left: 25px;
}


.user-avatar .user-avatar-btn{
    margin-top: 150px;
}

.user-avatar-preview {
    position: absolute;
}


.popup {
    margin: 25px;
    float: left;
    display: inline-block;
    box-shadow: 0 0 5px #000;
    background-color: #fff;
    overflow: hidden;
}
.popup__body {
    margin: 10px 10px 5px;
}

.themodal-overlay {
    display: flex;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.user-avatar-popup.popup {
    margin: auto;
}