
.user-avatar {
    width: 204px;
    height: 204px;
    border: 2px dashed #0087F7;
    display: inline-block;
    position: relative;
    background-size: cover;
}

.user-avatar-input {
    top: -10px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
    cursor: pointer;
}

.user-avatar-btn-text {
    position: relative;
}

.user-avatar .user-avatar-btn{
    margin-top: 150px;
}

.user-avatar-preview {
    position: absolute;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.user-avatar-btn{
    cursor: pointer;
    *zoom: 1;
    *display: inline;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 150px;
    margin-left: 25px;
}
